.comment_section_all_of_it {
	display: flex;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	.comment_section_counter {
		border: 4px solid black;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 9px;
	}
	.comment_section_image {
		height: 50px;
		width: 50px;
	}
	@media only screen and (max-width: 358px) {
		.comment_section_image {
			height: 30px;
			width: 30px;
		}
	}
}
