.post_all_of_it {
	margin: 0vw 10vw 0vw 10vw;
	.card-body {
		img {
			width: 300px;
			height: auto;
		}
		@media only screen and (max-width: 356px) {
			img {
				width: 200px;
				height: auto;
			}
		}
	}
}
@media only screen and (max-width: 442px) {
	.post_all_of_it {
		margin: 0px;
	}
}
